--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision

ultralytics==8.4.155
transformers
accelerate
opencv-python-headless
fastapi
uvicorn
python-multipart
nest-asyncio
pyngrok
azure-storage-blob